@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("images/noise.svg") rgb(15, 23, 37);
  background-blend-mode: soft-light;
  color: rgba(255, 255, 255, 0.8);
}

body, html, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}